<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--引入database.properties文件中的信息-->
    <properties resource="db.properties"/>

    <settings>
        <!--选择logback日志存储文件-->
        <!--        <setting name="logPrefix" value="com.example.mapper."/>-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <!--选择log4j日志存储文件-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>

    <typeAliases>
        <package name="com.example.model"/>
    </typeAliases>

    <!--    配置多个数据库环境信息， 通过default切换环境-->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.userName}"/>
                <property name="password" value="${jdbc.passWorld}"/>
            </dataSource>
        </environment>

        <!--        <environment id="test">-->
        <!--            <transactionManager type="JDBC"/>-->
        <!--            <dataSource type="POOLED">-->
        <!--                <property name="driver" value="${jdbc.driver}"/>-->
        <!--                <property name="url" value="${jdbc.url}"/>-->
        <!--                <property name="username" value="${jdbc.userName}"/>-->
        <!--                <property name="password" value="${jdbc.passWorld}"/>-->
        <!--            </dataSource>-->
        <!--        </environment>-->
    </environments>


    <mappers>
        <package name="com.example.service"/>
    </mappers>
</configuration>