body {
    background-color: white;

}

.form {
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    text-transform: uppercase;


}
.box1 {

    position: absolute;
    width: 99%;
    height: 100%;



    /*block-size: 1100px;*/
    color: #555555;
    display: grid;
    grid-template-areas:
        "head1 head1 head1 head1"
        "head2 head2 head2 sidebar"
        "form form form sidebar"
        "form form form ."
        "form form form ."
        "form form form ."
        "Footer Footer Footer Footer"

}
.form{
    box-shadow: 0 30px 60px 0 rgba(0,0,0,.3);
    height: 500px;
    grid-area: form;
    padding-top: 30px;

    font-size: 20px;
    font-weight: 500;
    line-height: 1.6em;

    width: 99.8%;
    background-color: #f4f4f4;
    grid-area: form;
    border-left: 1px #555555 solid;
    border-bottom: 1px #555555 solid;

}
.form h1 {
    text-align: center;
}

.Sidebar {
    width: 100%;
    height: 100px;
    grid-area: sidebar;
}

.Sidebar img{
    object-fit:cover;
}

.table {
    text-align: left;
    padding-left: 250px;

}
.head1{

    height:150px;
    grid-area: head1;
    background-image: url("../images/backgd.jpg");
    background-color: rgba(57, 49, 49, 0.7);
    background-size: 100% 100%;
    background-attachment: fixed;
}



.head2 {
    box-shadow: 0 30px 60px 0 rgba(0,0,0,.3);
    padding-top: 10px;
    border-bottom:1px #555555 solid;
    border-left:1px #555555 solid;

    grid-area: head2;
    font-family: "Times New Roman", Times, Serif;
    font-style: normal;
    font-weight: 500;

    text-align: center;
    letter-spacing: 2em;
}

.footer{
    grid-area: Footer;
    height: 100px;
    background-image: url("../images/backgd.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}


input {
    border: 1px solid #555555 ;
}

input[type=submit] {
    background-color: #555555;
    color: #f4f4f4;
    border-radius: 4px;
    font-size: 30px;

}
input[type=submit]:hover {
    background-color: grey;
}
input[type=submit]:active{
    background-color: darkgrey;
}

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

input[type=number] {

    border: rgba(0.0.0.0.2) 1px solid;
    color: #555555;
    width: 400px;
    height:30px;
}



/*button {*/
/*    background-color: #555555;*/
/*    color: #f4f4f4;*/
/*}*/
/*button:hover {*/
/*    background-color: grey;*/
/*}*/
/*button:active{*/
/*    background-color: darkgrey;*/
/*}*/


