body {

    text-align: center;
}

.head {
    /*background-image: url(../images/background.jpeg);*/
    /*background-size: 100% 100%;*/
    /*background-attachment: fixed;*/
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
}

.form{
    box-shadow: 0 30px 60px 0 rgba(0,0,0,.3);
    /*background: rgba(255, 255, 255, 0.5);*/
    border-radius: 10px;
    background-color: white;

    text-align: center;
    height: 400px;

}

h1{
    font-family: Arial, Helvetica,sans-serif;
    text-align: center;
    font-weight: 50;

}

.change{
    width: 600px;
    height: 100%;
    margin: auto;
}

/*.button {*/
/*    padding-top: 50px;*/
/*    padding-bottom: 50px;*/
/*    !*background-image: url(../images/background.jpeg);*!*/
/*    background-color: white;*/
/*    background-size: 100% 100%;*/
/*    background-attachment: fixed;*/


/*}*/
/*button {*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    background-color: #66afe9;*/
/*    color: #f4f4f4;*/
/*    font-size: 30px;*/
/*}*/
/*button:hover {*/
/*    background-color: grey;*/
/*}*/
/*button:active{*/
/*    background-color: darkgrey;*/
/*}*/

input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

/*input[type=radio] {*/
/*    background-color: #555555;*/

/*}*/

/*input[type=text] {*/
/*    color: #555555;*/
/*    width: 300px;*/
/*    height:25px;*/
/*}*/

input[type=password] {
    border-top: none;
    border-left: none;
    border: none;
    background-color: #f4f4f4;
    color: #555555;
    width: 300px;
    height:25px;
}

input[type=submit] {
    background-color: #66afe9;
    color: #f4f4f4;
    border-radius: 4px;
    font-size: 30px;
    border: none;

}
input[type=submit]:hover {
    background-color: grey;
}
input[type=submit]:active{
    background-color: darkgrey;
}

